* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  /* background: linear-gradient(
    90deg,
    rgba(161, 79, 153, 1) 1%,
    rgba(54, 47, 47, 1) 55%,
    rgba(164, 124, 68, 1) 95%
  );*/
  background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    rgb(255, 115, 115) 82.7%,
    rgb(255, 175, 123) 97.2%
  );
}

.search-container {
  width: 600px;
  position: relative;
  background: white;
  margin: 200px auto;
  border-radius: 5px;

  background: linear-gradient(
    90deg,
    rgba(161, 79, 153, 1) 1%,
    rgba(54, 47, 47, 1) 55%,
    rgba(164, 124, 68, 1) 95%
  );
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fbeeac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
  ul {
    border-top: 1px solid black;
    padding: 15px 10px;
  }
}

li {
  list-style: none;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;
}
li:hover {
  background: #fbeeac;
}

input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  outline: none;
  border: 0;

  background: linear-gradient(
    90deg,
    rgba(161, 79, 153, 1) 1%,
    rgba(54, 47, 47, 1) 55%,
    rgba(164, 124, 68, 1) 95%
  );
}
